*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background: linear-gradient(rgb(123,184,104),rgb(13,87,10));
    
    color: rgb(7,9,10);
}
.container{
    font-size:2rem;
    font-family: sans-serif;
    height: 25rem;
    width: 20rem;
    background-color: white;
    text-align: center;
    padding-top: 12px;
    border-radius: 16px;
    border: 2px solid rgb(14,43,1);
}